.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.listagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.listagem li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.listagem li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.button-container {
    margin-top: 20px;
}

button.button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button.buttonDelete{
    padding: 8px 17px;
    margin: 5px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button.buttonDelete:hover {
    background-color: #ff0000;
}

button.button:hover {
    background-color: #0056b3;
}